################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/neuralnetwork/neuralnetwork/x64/Debug
/neuralnetwork/x64/Debug
/neuralnetwork/EasyNNTest/x64/Debug
/.vs
/neuralnetwork/.vs/neuralnetwork/FileContentIndex
/neuralnetwork/.vs/neuralnetwork/v17/ipch
/neuralnetwork/.vs/neuralnetwork/v17/TestStore/0
/neuralnetwork/.vs/neuralnetwork/v17
/neuralnetwork/EasyNNConsole/x64/Debug
/neuralnetwork/.vs/EasyNN
/neuralnetwork/EasyNN/x64/Debug
/neuralnetwork/EasyNNPythonDepictions/__pycache__
/neuralnetwork/EasyNN/x64/Release
/neuralnetwork/EasyNNConsole/x64/Release
/neuralnetwork/EasyNNPythonPlugin/x64
/neuralnetwork/EasyNNTest/x64/Release
/neuralnetwork/x64/Release
