################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/neuralnetwork/neuralnetwork/x64/Debug
/neuralnetwork/x64/Debug
/neuralnetwork/EasyNNTest/x64/Debug
/.vs
/neuralnetwork/.vs/neuralnetwork/FileContentIndex
/neuralnetwork/.vs/neuralnetwork/v17/ipch
/neuralnetwork/.vs/neuralnetwork/v17/TestStore/0
/neuralnetwork/.vs/neuralnetwork/v17
/neuralnetwork/EasyNNConsole/x64/Debug
/neuralnetwork/.vs/EasyNN
/neuralnetwork/EasyNN/x64/Debug
/neuralnetwork/EasyNNPythonDepictions/__pycache__
/neuralnetwork/EasyNN/x64/Release
/neuralnetwork/EasyNNConsole/x64/Release
/neuralnetwork/EasyNNPythonPlugin/x64
/neuralnetwork/EasyNNTest/x64/Release
/neuralnetwork/x64/Release
/neuralnetwork/Debug
/neuralnetwork/EasyNN/Debug
/neuralnetwork/EasyNNConsole/Debug
/neuralnetwork/EasyNNPythonPlugin/Debug
/neuralnetwork/EasyNNTest/Debug
/neuralnetwork/EasyNNPythonDepictions/env
/neuralnetwork/EasyNNPyScripts/env
/neuralnetwork/EasyNNPyScripts/__pycache__
/src/.vs/EasyNN
/src/x64
/src/EasyNNTest/x64
/src/EasyNN/x64
/src/EasyNNConsole/x64
/src/EasyNNPyScripts/__pycache__
/src/EasyNNPythonPlugin/x64/Debug
/src/EasyNNPythonPlugin/x64/Release
/src/EasyNNPyPlugin/x64
