################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/neuralnetwork/neuralnetwork/x64/Debug
/neuralnetwork/x64/Debug
/neuralnetwork/EasyNNTest/x64/Debug
/.vs
